@model Fablab.Models.Entitys.Solicitud

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCoordinador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCoordinador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCoordinador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCoordinador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoOrganizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoOrganizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoLugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoLugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoFechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoFechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoFechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoFechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PbjetivosEsperados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PbjetivosEsperados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentoJustificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentoJustificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentoRquerimientos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentoRquerimientos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentoComvocatoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentoComvocatoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
